* {
  font-family: Arial, Helvetica, sans-serif;
}

#ulListado {
  padding-top: 10px;
  width: 90%;
  text-align: justify;
}

#ulListado li {
  list-style: none;
  padding-top: 10px;
}

.boldLi {
  font-weight: bold;
  font-size: larger;
}

.regularLi {
  font-weight: normal;
}

.holidayLi {
  color: red;
}

.weekendLi {
  color: dimgray;
}
